
    th,
    td {
        vertical-align: middle !important;
        text-align: left;
    }

    .collapse navbar-collapse navbar-ex1-collapse {
        height: 120px !important;
    }

    tr.tbl:hover {
        /*background-color: #77252B !important;*/

        background-color: #6496c8 !important;
        color: #eeeeee !important;
    }

    th.tbl {
        background-color:  #3b5b7a;
        width: 150px;
        color: white;
    }

    button {
        color: black !important;
    }

    .button {
        position: absolute;
        margin-left: 40px;
        /*104.5px is half of the button's width*/
    }

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        width: 100%;
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0, 0, 0); /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
        justify-content: center;
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        justify-content: center;
        border: 1px solid #888;
        width: 23%;
        vertical-align: middle;
    }

    .close {
        color: black;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
    a{
        cursor: pointer;
    }